EXPERIMENT 5 : Dictionaries in Python

Name : Vivek Reddy

PRN : 25070123135

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020,
}
print(thisdict)

len(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

3

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["color"] = "red"
print(type(car))
print(car)

x = car.values()
print(x)

<class 'dict'>
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [ ]:
student = {
    "roll": 135,
    "name": "Vivek",
    "branch": "ENTC"
}
print("Name :",student["name"])

student.pop("branch")
print("After removal :", student)

Name : Vivek
After removal : {'roll': 135, 'name': 'Vivek'}

In [ ]:
products = {"pen": 10, "Book": 50, "Book": 55, "Scale": 20}
print("original Products :",products)
products["Book"] = 55
print("After update products",products)

original Products : {'pen': 10, 'Book': 55, 'Scale': 20}
After update products {'pen': 10, 'Book': 55, 'Scale': 20}

In [ ]:
marks = {"A": 85, "B": 72, "C": 90}
name = input("Enter student name: ")
print(marks.get(name, "Student not found"))

Enter student name: D
Student not found

In [ ]:
users = {"admin": '1234', "student": "abcd"}
user_name = input("username: ")
pw = input("passward: ")

if users.get(user_name) == pw :
  print("Login successful")
else :
    print("Invaid Username or password")

username: admin
passward: 1234
Login successful

In [ ]:
marks = {"A": 85, "B": 92, "C": 78}
topper = max(marks, key=marks.get)
print("Topper:", topper)
print("Marks:", marks[topper])

Topper: B
Marks: 92